<li class="entry">
  <header>
    <i class="<%= icon(@entry) %>"></i>
    <span class="date"><%= saved_at(@entry) %></span>
  </header>
  <div class="content">
    <h1><%= title(@entry) %></h1>
    <h2><%= description(@entry) %></h2>
    <ul>
      <%= for url <- urls(@entry) do %>
        <li><a href="<%= url %>"><%= url %></a></li>
      <% end %>
    </ul>
  </div>
</li>
