<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content="Memento">
    <meta name="author" content="Claudio Ortolina">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Memento" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="apple-touch-icon" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>"/>
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">

          <div class="left-nav">
            <span class="logo">M</span>
            <div class="source"><i class="icon-twitter"></i><i class="icon-pushpin"></i><i class="icon-github"></i><i class="icon-instapaper"></i><i class="active">All</i></div>
          </div>

          <div class="filters">
            <input type="search" id="q" name="q" placeholder="e.g. tutorial">

            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
            <% end %>
          </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
