@import "fonts";
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "spinner";

$main-font: 'Open Sans', sans-serif;
$accent-font: 'Monaco', Courier, monospace;

$side-padding: 1em;

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

* {
  -webkit-padding-start: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
}

main {
  max-width: 60em;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $bg-dark-color;
  padding: 0 $side-padding;

  .left-nav {
    display: flex;
    align-items: center;
    cursor: pointer;

    .logo {
      padding: 0.5em 0.5em 0.5em 0;
      font-size: 3em;
      font-weight: 700;
      color: $accent-color;
      @include stroke(1, lighten($fg-light-color, 10%));
    }
  }

  input {
    background-color: lighten($fg-light-color, 25%);
    border: 0;
    font-size: 1em;
    padding: 0.5em;
  }

  .filters {
    display: flex;
  }

  p {
    margin: 0;
    padding: 0.5em;
  }

  i {
    margin-left: 1em;
    cursor: pointer;
  }

  i.active, i.active::before {
    color: $accent-color;
  }
}

.main-error {
  display: flex;
  flex-direction: column;

  h1, h2 {
    text-align: center;
  }
}

.entries {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 $side-padding;
  border-bottom: 0;
}

.entry {
  padding: 2em 0;
  border-bottom: 1px solid lighten($fg-light-color, 15%);

  a {
    color: $accent-color;
  }

  header {
    color: $text-secondary-color;

    i, .date, ul a {
      font-size: 0.8em;
      font-family: $accent-font;
    }
  }

  h1 {
    font-size: 1.1em;
    font-weight: 700;
    margin: 0.4em 0;
    color: $text-primary-color;

    i {
      margin-right: 0.2em;
    }

    i, i::before {
      font-size: 1em;
    }
  }

  h2 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
    color: $text-secondary-color;
  }

  p, li {
    margin: 0.5em 0 0 0;
  }

  .date {
    margin-left: 0.5em;
  }

  &:last-child {
    border-bottom: none;
  }
}

.load-more {
  justify-content: center;
  padding: 1em;

  button {
    color: $text-primary-color;
    background-color: lighten($fg-light-color, 15%);
    border: none;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;

    .filters {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.5em;

      input {
        margin-bottom: 0.5em;
      }
    }

    .source {
      margin-bottom: 1em;
    }

    h1 {
      font-size: 1em;
    }
  }

  .entry {
    h1 {
      font-size: 1em;
    }

    h2, a, header {
      font-size: 0.8em;
    }
  }
}
